@import '../../styles/global.scss';

.store {
  padding-top: constant(safe-area-inset-top);

  /* iOS 11.0 */
  padding-top: env(safe-area-inset-top);

  /* iOS 11.2 */
  background: linear-gradient(180deg, #04f9cd 0%, #ff00d6 100%), #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .list_holder {
    max-height: 40vh * $scaler;
  }

  .logo {
    padding: 7.5vh * $scaler;
    position: relative;
  }

  .money-holder {
    position: absolute;
    width: 40vmax * $scaler;
  }

  .highscore {
    color: white;
    font-size: 3vh * $scaler;
    border-radius: 2vh * $scaler;
    padding: 1.5vh * $scaler 2vh * $scaler;
    font-weight: 200;
    position: absolute;
    top: 5.75vh * $scaler;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .buttons {
    margin: 1vh * $scaler;
  }

  p {
    color: #fff;
    margin-top: 0;
  }
}
