{
  extends: 'stylelint-config-standard',
  rules: {
    at-rule-no-unknown: null,
    color-hex-case: null,
  },
  plugins: ['stylelint-prettier'],
  ignoreFiles: [
    "**/*.ts",
    "**/*.tsx"
  ]
}