@use 'src/styles/buttons';

@import '../../styles/global.scss';

.about {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
  background: linear-gradient(
      330.96deg,
      #00f0ff 18.5%,
      #ff8bca 18.5%,
      #ff8bca 40%,
      #fff 40%,
      #fff 62%,
      #ff8bca 62%,
      #ff8bca 81%,
      #ff8bca 81%,
      #00e0ff 81%
    ),
    #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh * $scaler;
  }

  .logo {
    padding: 7.5vh * $scaler 0 7.5vh * $scaler;
  }

  @keyframes beat {
    0% {
      transform: scale(0.7);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.7);
    }
  }

  .blured {
    backdrop-filter: blur(25px);
  }

  .thanks {
    width: 35vmax * $scaler;
    margin: 1vh * $scaler;
    padding: 3vh * $scaler;
    font-size: 2vh * $scaler;
    color: white;
    border-radius: 2vh * $scaler;
    text-align: center;
    font-weight: 300;

    big {
      font-size: 3vh * $scaler;

      &.heart {
        display: inline-block;
        margin-top: 2vh * $scaler;
        margin-bottom: 0.5vh * $scaler;
        // line-height: 10vh * $scaler;
        animation: beat 1.5s;
        animation-iteration-count: infinite;

        &:nth-of-type(0) {
          animation-delay: 0ms;
        }

        &:nth-of-type(1) {
          animation-delay: 200ms;
        }

        &:nth-of-type(2) {
          animation-delay: 400ms;
        }

        &:nth-of-type(3) {
          animation-delay: 600ms;
        }

        &:nth-of-type(4) {
          animation-delay: 800ms;
        }

        &:nth-of-type(5) {
          animation-delay: 1000ms;
        }
      }
    }
  }

  .buttons {
    margin: 1vh * $scaler;
  }
}
