body {
  font-size: 3vmin;
}

@media all and (max-width: 1690px) {
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 980px) {
  body {
    font-size: 3.5vmin;
  }
}

@media all and (max-width: 736px) {
  body {
    font-size: 4.5vmin;
  }
}

@media all and (max-width: 480px) {
  body {
    font-size: 4.25vmin;
  }
}

a {
  color: white;
}

button:disabled {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

// button:enabled {
//   opacity: 0.5 !important;
//   transition: opacity 300ms ease-in-out;
// }

// button:hover {
//   opacity: 1 !important;
//   transition: opacity 300ms ease-in-out;
// }

// $fullHeight: -webkit-fill-available;

// body,
// html {
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   height: -webkit-fill-available;
// }
