$mainColor: #ffc800;
$greyColor: #2b2b2b;
$padding: 6vmin;
$buttonWidth: 8vmin;
$scaler: 1;

.blured {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2vh * $scaler rgba(0, 0, 0, 0.62);
}

.logo {
  padding: 15vh * $scaler 0 10vh * $scaler;
  height: 15vh * $scaler;
  width: 15vh * $scaler;
  font-size: 15vh * $scaler;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  -webkit-appearance: none;
  border: none;
  border-radius: 2vh * $scaler;
  cursor: pointer;
  user-select: none;
  transition: all linear 100ms;
  padding: 0.5vh * $scaler;
  touch-action: manipulation;
  height: 15vh * $scaler;
  width: 15vh * $scaler;

  &.small {
    height: 7.5vh * $scaler;
    width: 7.5vh * $scaler;
    font-size: 5vh * $scaler;
    margin: 1vh * $scaler;
  }

  &.back {
    margin: 5vh * $scaler 1vh * $scaler 0;
    height: 7.5vh * $scaler;
    width: 7.5vh * $scaler;
    font-size: 5vh * $scaler;
    justify-content: center;
  }

  &:active {
    transform: scale(0.8);
    opacity: 1;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.play {
    font-size: 10vh * $scaler;
  }
}
