@use 'src/styles/buttons';

@import '../../styles/global.scss';

.download {
  @include safe-ios();

  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8453e3;
    animation: background-change 10s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    &.gradient {
      // z-index: 2;
      animation: none;
      background: radial-gradient(200% 120% at 50% 120%, transparent 0%, #fff 100%);
    }
  }

  .top-text {
    font-style: normal;
    font-weight: 900;
    font-size: 6.4vh;
    text-align: center;
    margin: 0;
    // margin-top: 4vh;
  }

  .secondary-text {
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    text-align: center;
    color: #a0a0a0;
    margin: 0;
    margin-top: 1vh;
  }

  $height: 70vh;

  .text {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    &-wrap {
      &.second,
      &.third {
        position: absolute;
        top: 0;
      }
    }
  }

  .game-wrap {
    width: $height / 2;
    // max-width: 50vh;
    height: $height;
    position: relative;
    display: flex;
    justify-content: center;
    // margin-top: (100vh - $height) / 1.2;
    margin-top: 2vh;

    iframe {
      // position: absolute;
      width: $height / 2;
      height: 100%;
      top: 0;
      left: 0;
      border: 0;
      padding: $height / 35;
      box-sizing: border-box;
    }

    .iphone {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url('./iphone-min.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
      pointer-events: none;
    }

    .helper {
      position: absolute;
      right: -4vh;
      bottom: 20vh;
      background-image: url('./try.svg');
      width: 15vh;
      height: 10vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center left;
      z-index: 1;
      // transition: 0.5s ease-in-out opacity 1s, 0.5s ease-in-out transform 1s;
      pointer-events: none;
      transform-origin: left bottom;

      &.hidden {
        opacity: 0;
        transform: scale(0.5);
      }
    }
  }

  .app-store-button {
    width: 11.7vh;
    height: 3.9vh;
    min-width: 117px;
    min-height: 39px;
    margin-bottom: 0;
    background-image: url('./Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &-wrap {
      margin-top: 2vh;
    }
  }
}

@keyframes background-change {
  0% {
    background: #8453e3;
  }

  100% {
    background: #0eedf1;
  }
}
