@import '../../styles/global.scss';

.menu {
  @include safe-ios();
  background: radial-gradient(80.51% 80.51% at 50.13% 65%, #ffd600 0%, #ff00f5 72.09%), #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .blured {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2vh * $scaler #ffd50086;
  }

  .all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh * $scaler;
  }

  .buttons {
    margin: 1vh * $scaler;
  }

  .logo {
    padding: 7.5vh * $scaler 0 22.5vh * $scaler;
    height: 15vh * $scaler;
    width: 11vh * $scaler;
  }

  .money-holder {
    top: 0;
    position: absolute;
    width: 40vmax * $scaler;
  }

  .highscore {
    color: white;
    font-size: 3vh * $scaler;
    border-radius: 2vh * $scaler;
    padding: 1.5vh * $scaler 2vh * $scaler;
    font-weight: 200;
    position: absolute;
    top: 5.75vh * $scaler;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }
}
