@import '../../styles/global.scss';

.menu {
  background: radial-gradient(140.67% 117.32% at 100% 98.5%, #ffc700 0%, #ff00f5 100%), #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh * $scaler;
  }

  .buttons {
    margin: 1vh * $scaler;
  }

  .logo {
    padding: 15vh * $scaler 0;
    height: 15vh * $scaler;
    width: 11vh * $scaler;
  }
}
