@import '../../styles/global.scss';

.settings {
  @include safe-ios();
  background: linear-gradient(
      331.31deg,
      #ff4d00 9.37%,
      #f90 25.15%,
      #fff500 40.93%,
      #61ff00 58.96%,
      #00e0ff 76.99%,
      #9e00ff 94.58%
    ),
    #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh * $scaler;
  }

  .buttons {
    margin: 1vh * $scaler;
  }

  .logo {
    padding: 7.5vh * $scaler;
    position: relative;
  }

  .button {
    // height: 15vh * $scaler;
    font-weight: 100;
    // text-transform: lowercase;
    color: white;
    display: flex;
    align-items: center;

    .setting-item-text {
      margin-left: 2vh * $scaler;
    }

    &.small {
      height: 7vh * $scaler;
      width: 40vmax * $scaler;
      margin: 0.5vh * $scaler;
      font-size: 2.2vh * $scaler;
      padding: 0 2vh * $scaler;
      display: flex;
    }
  }
}
