@import '../../styles/global.scss';

.gameOver {
  background: radial-gradient(80.51% 80.51% at 50.13% 80.51%, #ffd600 0%, #ff2e00 72.09%), #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh * $scaler;
  }

  .thanks {
    min-width: 35vmax * $scaler;
    margin: 1vh * $scaler;
    padding: 1.5vh * $scaler;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    font-size: 7vh * $scaler;
    background: none;
    border-bottom: 0.2vh * $scaler dotted rgba(255, 255, 255, 0.425);
    margin-bottom: 2.5vh * $scaler;
    padding-bottom: 2.5vh * $scaler;
    letter-spacing: 0.6vh * $scaler;
    pointer-events: none;
  }

  .logo {
    padding: 7.5vh * $scaler 0 7.5vh * $scaler;
  }

  .buttons {
    margin: 1vh * $scaler;
  }
}
