@import '../../styles/global.scss';

.gameOver {
  @include safe-ios();
  background: radial-gradient(80.51% 80.51% at 50.13% 80.51%, #ffd600 0%, #ff2e00 72.09%), #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .blured {
    box-shadow: 0 0 2vh * $scaler #ffd500c5;
  }

  .all-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh * $scaler;
  }

  .thanks {
    // min-width: 35vmax * $scaler;
    margin: 1vh * $scaler;
    padding: 1.5vh * $scaler;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    font-size: 7vh * $scaler;
    // background: none;
    // border-bottom: 0.2vh * $scaler dotted rgba(255, 255, 255, 0.425);
    margin-top: 10vh * $scaler;
    margin-bottom: 2.5vh * $scaler;
    border-radius: 2vh * $scaler;
    letter-spacing: 0.6vh * $scaler;
    padding-left: 2.1vh * $scaler;

    &.blured {
      box-shadow: 0 0 2vh * $scaler #ff2e00;
    }
  }

  .highscore {
    color: white;
    font-size: 3vh * $scaler;
    margin-bottom: 15vh * $scaler;
    border-radius: 2vh * $scaler;
    padding: 1.5vh * $scaler 2vh * $scaler;
    font-weight: 200;

    &.blured {
      box-shadow: 0 0 2vh * $scaler #ff2e00;
    }
  }

  .logo {
    padding: 5vh * $scaler 0 5vh * $scaler;
  }

  .buttons {
    margin: 1vh * $scaler;
  }
}
