@import './styles/global.scss';

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #000 #ffc800;
  overflow: hidden;
}

#root {
  position: relative;
}

pre {
  overflow: auto;
}

hr {
  border: 1px solid white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  overflow-x: auto;
  font-size: 90%;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border: 0 none #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border: 5px none #fff;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-thumb:active {
  background: #545353;
}

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track:active {
  background: #fff0;
}

.page {
  position: absolute;
  width: 100%;
}

.page-enter {
  opacity: 0;
  transform: scale(1.5);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.blured {
  background: rgba(0, 0, 0, 0.6);
  // box-shadow: 0 0 2vh * $scaler rgba(0, 0, 0, 0.62);
}

.logo {
  padding: 15vh * $scaler 0 10vh * $scaler;
  height: 15vh * $scaler;
  width: 15vh * $scaler;
  font-size: 15vh * $scaler;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  -webkit-appearance: none;
  border: none;
  border-radius: 2vh * $scaler;
  cursor: pointer;
  user-select: none;
  transition: all linear 100ms;
  padding: 0.5vh * $scaler;
  touch-action: manipulation;
  height: 15vh * $scaler;
  width: 15vh * $scaler;

  &.small {
    height: 7.5vh * $scaler;
    width: 7.5vh * $scaler;
    font-size: 5vh * $scaler;
    margin: 1vh * $scaler;
  }

  &.back {
    margin: 5vh * $scaler 1vh * $scaler 0;
    height: 7.5vh * $scaler;
    width: 7.5vh * $scaler;
    font-size: 5vh * $scaler;
    justify-content: center;
  }

  &:active {
    transform: scale(0.8);
    opacity: 1;
  }

  &:disabled {
    pointer-events: none;
  }

  &.play {
    font-size: 10vh * $scaler;
  }
}

.scale {
  &-enter {
    opacity: 0;
    transform: scale(0);

    &-active {
      opacity: 1;
      transform: scale(1) rotate(0deg);
      transition: all 300ms ease-in-out 100ms;
    }

    &-done {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-exit {
    opacity: 1;
    transform: scale(1);

    &-active {
      opacity: 0 !important;
      transform: scale(0);
      transition: all 300ms ease-in-out;
    }

    &-done {
      opacity: 0;
      transform: scale(0);
    }
  }
}

.opacity {
  &-enter {
    opacity: 0;
    transform: scale(0.8);

    &-active {
      opacity: 1;
      transform: scale(1);
      transition: all 300ms ease-in-out 100ms;
    }

    &-done {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-exit {
    opacity: 1;
    transform: scale(1);

    &-active {
      opacity: 0 !important;
      transform: scale(1.2);
      transition: all 200ms ease-in-out;
    }

    &-done {
      opacity: 0;
      transform: scale(1.2);
    }
  }
}
