@use 'src/styles/buttons';

@import '../../styles/global.scss';

.privacy {
  // @include safe-ios();

  height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5vh;
  padding-bottom: 20vh;
  box-sizing: border-box;

  a {
    color: black;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../tutorial/blueprint.svg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
  }
}
